{% extends 'base.html' %}

{% block content %}
  <h1>Избранные разработчики</h1>
  <table id="favorite_artist_table" class="table table-hover" style="margin-top: 20px;">
      <thead>
          <colgroup>
              <col style="width:12%;" />
              <col style="width:25%;" />
              <col style="width:25%;" />
              <col style="width:25%;" />
          </colgroup>
          <tr>
              <th>Фото</th>
              <th>Имя</th>
              <th>Жанры</th>
              <th>Избранное</th>
          </tr>
      </thead>
   </table>
{% endblock %}